<!DOCTYPE html>
<html>

<head>
  <title>Food</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF2LtTv_Qma40-0lTfk2V1-gcDguFI4Os"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.config = {
      api: '<%= root_url %>'
    };
  </script>
</head>
<body>
<%= react_router 'MyRoutes', 'HistoryLocation' %>

<%= yield %>

</body>
</html>
